* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: white;
}


/* CONTAINER */
.container {
    width: 70%;
    margin: 0 auto;
    border: 1px solid rgb(181, 172, 172);
}


/* HEADER */
.header {
    width: 100%;
    height: 50px;

    color: rgb(219, 22, 22);
    font-size: 14px;
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: bold;

    text-align: center;
    padding-top: 10px;
}


/* MENU */
.menu {
    width: 100%;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(240, 142, 142);
}


/* 3 CỘT */
.content {
    display: flex;
    align-items: stretch;
}


/* TRÁI */
.khungtrai {
    width: 20%;
}

.luachon {
    width: 100%;
    border-spacing: 0 3px;
}

.luachon tr {
    background-color: rgb(226, 99, 99);
}

.luachon td {
    padding: 3px 5px;
    color: white;
    font-size: 10px;
    border-radius: 10px;
}

.company {
    width: 90%;
    height: auto;
    display: block;
    margin: 10px auto;
}


/* GIỮA */
.khunggiua {
    width: 60%;
    padding: 10px;
}


/* PHẢI */
.khungphai {
    width: 20%;
    background-color: black;
}


/* ẢNH */
.meet {
    width: 100%;
}

.launch {
    width: 100%;
}


/* EVENTS */
.khungphai h2 {
    color: white;
    text-align: center;
}

.khungphai h3 {
    color: white;
    text-align: center;
}

.khungphai p {
    color: white;
    font-size: 10px;
}


/* STARTER - DESSERTS - INFORMATION */
.dinhdang {
    color: rgb(185, 37, 37);
    text-align: center;
    background-color: rgb(240, 142, 142);
    width: 60%;
    margin: 10px auto;
}