.container{
    width: 1000px;
    border: 2px solid black;
    margin: 0 auto;
    background-image: url("../IMAGE/background.jpg");
    position: relative;
    overflow: hidden;
}

.logo{
    width: 70%;
    height: 100px;
    margin-top: 20px;
    margin-left: 10px;
}

.content{
    position: relative;
}

.menu{
    width: 22%;
    float: left;
    position: relative;
    border-right: 2px solid green;
    height: 700px;
}

.menu ul{
    border: 4px solid;
    position: absolute;
    border-style: outset;
    background-color: white;
    width: 150px;
    margin-top: 13px;
    margin-left: 10px;
    padding-left: 0;
    list-style: none;
}

.menu ul li{
    list-style: none;
    padding: 10px 0 10px 15px;
    display: block;
}

.menu ul li a{
    text-decoration: none;
    color: rgb(109, 0, 210);
}

.noidung{
    width: 75%;
    float: right;
    padding-right: 20px;
}

.noidung h3{
    background-color: rgb(7, 158, 7);
    width: 500px;
    font-style: italic;
    padding-left: 65px;
    letter-spacing: 20px;
    margin: 0 auto;
    margin-top: 20px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.noidung p {
    color: rgb(254, 241, 241);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.noidung ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 20px;
}

.noidung ul li{
    color: rgb(254, 241, 241);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.noidung h4{
    width: 300px;
    background-color: rgb(7, 158, 7);
    color: white;
    font-size: 17px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 15px;
    margin-top: 20px;
}

.lienhe {
    clear: both;
    border-top: 3px solid rgb(7, 158, 7);
    margin-top: 40px;
    padding-top: 15px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}