body{
    margin: 0;
    padding: 20px 0;
}
.container{
    width: 960px;

    margin: 0 auto;
    border: 1px solid rgb(11, 11, 11);
    
}
.header{
    width: 960px;
    height: 150px;
   
  
}
.logo{
    width:960px;
    height:100px;
    background-image: url(../IMAGE/background.png);
    display: flex;
    align-items: center;
    padding-left: 20px;
    box-sizing: border-box;
    margin: 0;

}
.logo img{
    margin-right: 20px;
  
}

.text h1{
  
    
    margin: 0px;
    color: #fff;
}
 .text  p{
    
    margin: 5px 0 0;
    color: #fff;
 }
   

.menu{
    width:960px;
    height:50px;
    background-color: #d6d4d4;
    margin: 0;
}
.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
}
.menu ul li{
    float:left;
    padding: 20px;
   
}
.menu ul li a{
    text-decoration: none;
    color: #fbf2f2;
    display: block;
}

.content{
    width:960px;
    height:600px;
    
}
.content_left{
    width:659px;
    height:550px;
    float:left;
    border-right: 1px solid #dcd6d6;
  
}
.left_top{
    width:660px;
    height:275px;
    overflow: hidden;
    
    
}
.left_top img{
    padding: 20px;
    margin-right: 20px;
    float:left;
}
.text_left {
    margin-left: 0;
    font-family: 'Times New Roman', Times, serif;
   padding: 32px;
  
}
.text_left h3{
    margin-top: 0px;
    margin-bottom: 0px;

     padding: 0px;

     font-family: 'Times New Roman', Times, serif;
     font-size: 24px;
  
  
}

.text_left h4{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
     font-size: 16px;
     color:  red;
    

}
.text_left p{
    margin-bottom: 5px;
}

.left_bottom{
    width:660px;
    height:275px;
    overflow: hidden;

}
.left_bottom img{
    float :left;
    margin-right: 20px;
    padding: 20px;
}


.content_right{
    width:300px;
    height:600px;

    float:left;
   

}
.content_right table{
    margin: 20px auto;
    border-collapse: collapse;
}

.content_right table td{
    padding: 12px;
    margin: 12px;
    color: rgb(143, 10, 10);
    border-bottom: 1px solid rgb(137, 134, 134);
}
.td{
    font-size: 24px;
    font-weight: bold;
    padding-top: 10px !important;
    padding-bottom: 8px !important;
   
}


.footer{
    width:960px;
    height:50px;
    background-color: #d6d4d4;
}

/* Định dạng riêng cho dòng "Contact" */
.content_right table tr:nth-child(6) td {
    font-size: 20px;
    font-weight: bold;
    color: #c75c5c;
    padding-top: 25px;
    padding-bottom: 8px;
}

.content_right table tr:last-child td {
    color: #444; /* Chữ xám tối màu */
    font-size: 14px;
    line-height: 1.4;
    border-bottom: none; /* Không có đường kẻ */
}